In [1]:
from pyspark.sql import SparkSession

In [2]:
# May take a little while on a local computer
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [3]:
df =spark.read.csv("C:/Users/Sri/Desktop/911_project/DATASET/911_nan_zip_dataset.csv",inferSchema=True,header=True)

In [4]:
df.show()

+----------+-----------+-----+--------+--------------------+----------------+-----------------+
|       lat|        lng|  zip|Category|               Title|       timeStamp|              twp|
+----------+-----------+-----+--------+--------------------+----------------+-----------------+
|40.2978759|-75.5812935|19525|     EMS|   BACK PAINS/INJURY|2015-12-10 17:40|      NEW HANOVER|
|40.2580614|-75.2646799|19446|     EMS|  DIABETIC EMERGENCY|2015-12-10 17:40|HATFIELD TOWNSHIP|
|40.1211818|-75.3519752|19401|    Fire|       GAS-ODOR/LEAK|2015-12-10 17:40|       NORRISTOWN|
| 40.116153| -75.343513|19401|     EMS|   CARDIAC EMERGENCY|2015-12-10 17:40|       NORRISTOWN|
| 40.251492|-75.6033497|19464|     EMS|           DIZZINESS|2015-12-10 17:40| LOWER POTTSGROVE|
|40.2534732| -75.283245|19446|     EMS|         HEAD INJURY|2015-12-10 17:40|         LANSDALE|
|40.1821111|-75.1277951|19044|     EMS|     NAUSEA/VOMITING|2015-12-10 17:40|          HORSHAM|
|40.2172859| -75.405182|19426|     EMS| RESPIRATORY EMER...|2015-12-10 17:40|         SKIPPACK|
|40.2890267|-75.3995896|19438|     EMS|    SYNCOPAL EPISODE|2015-12-10 17:40|    LOWER SALFORD|
|40.1023985|-75.2914577|19462| Traffic|  VEHICLE ACCIDENT -|2015-12-10 17:40|         PLYMOUTH|
|40.2319898|-75.2518915|19002| Traffic|  VEHICLE ACCIDENT -|2015-12-10 17:40|       MONTGOMERY|
|40.0841613|-75.3083857|19428| Traffic|  VEHICLE ACCIDENT -|2015-12-10 17:40|         PLYMOUTH|
|40.1741312|-75.0984907|19040| Traffic|  VEHICLE ACCIDENT -|2015-12-10 17:40|   UPPER MORELAND|
| 40.062974| -75.135914|19027| Traffic|  VEHICLE ACCIDENT -|2015-12-10 17:40|       CHELTENHAM|
|40.0972222|-75.3761952|19406| Traffic|  VEHICLE ACCIDENT -|2015-12-10 17:40|     UPPER MERION|
|40.2237777|-75.2353993|18936| Traffic|  VEHICLE ACCIDENT -|2015-12-10 17:40|       MONTGOMERY|
|40.2432578|-75.2865516|19446|     EMS| RESPIRATORY EMER...|2015-12-10 17:46|         LANSDALE|
|40.3121807|-75.5742598|19525|     EMS|           DIZZINESS|2015-12-10 17:47|      NEW HANOVER|
| 40.114239| -75.338508|19401|     EMS|    VEHICLE ACCIDENT|2015-12-10 17:47|       NORRISTOWN|
|40.2093369|-75.1352655|18974| Traffic|  DISABLED VEHICLE -|2015-12-10 17:47|          HORSHAM|
+----------+-----------+-----+--------+--------------------+----------------+-----------------+
only showing top 20 rows

In [5]:
df.printSchema()

root
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- zip: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- timeStamp: string (nullable = true)
 |-- twp: string (nullable = true)

In [6]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType,FloatType

In [7]:
data_schema = [StructField("lat", FloatType(), True),StructField("lng", FloatType(), True),StructField("zip", IntegerType(), True),StructField("Category", StringType(), True),StructField("Title", StringType(), True),StructField("timeStamp", StringType(), True),StructField("twp", StringType(), True)]

In [8]:
final_struc = StructType(fields=data_schema)

In [9]:
df.createOrReplaceTempView("data_911")

In [10]:
df.createOrReplaceTempView("data_for_pred")

In [11]:
sql_results = spark.sql("SELECT * FROM data_for_pred")
sql_results.show(20,False)

+----------+-----------+-----+--------+----------------------+----------------+-----------------+
|lat       |lng        |zip  |Category|Title                 |timeStamp       |twp              |
+----------+-----------+-----+--------+----------------------+----------------+-----------------+
|40.2978759|-75.5812935|19525|EMS     | BACK PAINS/INJURY    |2015-12-10 17:40|NEW HANOVER      |
|40.2580614|-75.2646799|19446|EMS     | DIABETIC EMERGENCY   |2015-12-10 17:40|HATFIELD TOWNSHIP|
|40.1211818|-75.3519752|19401|Fire    | GAS-ODOR/LEAK        |2015-12-10 17:40|NORRISTOWN       |
|40.116153 |-75.343513 |19401|EMS     | CARDIAC EMERGENCY    |2015-12-10 17:40|NORRISTOWN       |
|40.251492 |-75.6033497|19464|EMS     | DIZZINESS            |2015-12-10 17:40|LOWER POTTSGROVE |
|40.2534732|-75.283245 |19446|EMS     | HEAD INJURY          |2015-12-10 17:40|LANSDALE         |
|40.1821111|-75.1277951|19044|EMS     | NAUSEA/VOMITING      |2015-12-10 17:40|HORSHAM          |
|40.2172859|-75.405182 |19426|EMS     | RESPIRATORY EMERGENCY|2015-12-10 17:40|SKIPPACK         |
|40.2890267|-75.3995896|19438|EMS     | SYNCOPAL EPISODE     |2015-12-10 17:40|LOWER SALFORD    |
|40.1023985|-75.2914577|19462|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|PLYMOUTH         |
|40.2319898|-75.2518915|19002|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|MONTGOMERY       |
|40.0841613|-75.3083857|19428|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|PLYMOUTH         |
|40.1741312|-75.0984907|19040|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|UPPER MORELAND   |
|40.062974 |-75.135914 |19027|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|CHELTENHAM       |
|40.0972222|-75.3761952|19406|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|UPPER MERION     |
|40.2237777|-75.2353993|18936|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|MONTGOMERY       |
|40.2432578|-75.2865516|19446|EMS     | RESPIRATORY EMERGENCY|2015-12-10 17:46|LANSDALE         |
|40.3121807|-75.5742598|19525|EMS     | DIZZINESS            |2015-12-10 17:47|NEW HANOVER      |
|40.114239 |-75.338508 |19401|EMS     | VEHICLE ACCIDENT     |2015-12-10 17:47|NORRISTOWN       |
|40.2093369|-75.1352655|18974|Traffic | DISABLED VEHICLE -   |2015-12-10 17:47|HORSHAM          |
+----------+-----------+-----+--------+----------------------+----------------+-----------------+
only showing top 20 rows

In [12]:
sql_results = spark.sql("SELECT * FROM data_911")
sql_results.show(20,False)

+----------+-----------+-----+--------+----------------------+----------------+-----------------+
|lat       |lng        |zip  |Category|Title                 |timeStamp       |twp              |
+----------+-----------+-----+--------+----------------------+----------------+-----------------+
|40.2978759|-75.5812935|19525|EMS     | BACK PAINS/INJURY    |2015-12-10 17:40|NEW HANOVER      |
|40.2580614|-75.2646799|19446|EMS     | DIABETIC EMERGENCY   |2015-12-10 17:40|HATFIELD TOWNSHIP|
|40.1211818|-75.3519752|19401|Fire    | GAS-ODOR/LEAK        |2015-12-10 17:40|NORRISTOWN       |
|40.116153 |-75.343513 |19401|EMS     | CARDIAC EMERGENCY    |2015-12-10 17:40|NORRISTOWN       |
|40.251492 |-75.6033497|19464|EMS     | DIZZINESS            |2015-12-10 17:40|LOWER POTTSGROVE |
|40.2534732|-75.283245 |19446|EMS     | HEAD INJURY          |2015-12-10 17:40|LANSDALE         |
|40.1821111|-75.1277951|19044|EMS     | NAUSEA/VOMITING      |2015-12-10 17:40|HORSHAM          |
|40.2172859|-75.405182 |19426|EMS     | RESPIRATORY EMERGENCY|2015-12-10 17:40|SKIPPACK         |
|40.2890267|-75.3995896|19438|EMS     | SYNCOPAL EPISODE     |2015-12-10 17:40|LOWER SALFORD    |
|40.1023985|-75.2914577|19462|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|PLYMOUTH         |
|40.2319898|-75.2518915|19002|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|MONTGOMERY       |
|40.0841613|-75.3083857|19428|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|PLYMOUTH         |
|40.1741312|-75.0984907|19040|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|UPPER MORELAND   |
|40.062974 |-75.135914 |19027|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|CHELTENHAM       |
|40.0972222|-75.3761952|19406|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|UPPER MERION     |
|40.2237777|-75.2353993|18936|Traffic | VEHICLE ACCIDENT -   |2015-12-10 17:40|MONTGOMERY       |
|40.2432578|-75.2865516|19446|EMS     | RESPIRATORY EMERGENCY|2015-12-10 17:46|LANSDALE         |
|40.3121807|-75.5742598|19525|EMS     | DIZZINESS            |2015-12-10 17:47|NEW HANOVER      |
|40.114239 |-75.338508 |19401|EMS     | VEHICLE ACCIDENT     |2015-12-10 17:47|NORRISTOWN       |
|40.2093369|-75.1352655|18974|Traffic | DISABLED VEHICLE -   |2015-12-10 17:47|HORSHAM          |
+----------+-----------+-----+--------+----------------------+----------------+-----------------+
only showing top 20 rows

In [13]:
sql_results = spark.sql("select twp as c1,count(*) as c2 from data_911 group by  twp order by c2 desc")
sql_results.show()

+-----------------+----+
|               c1|  c2|
+-----------------+----+
|     LOWER MERION|8443|
|         ABINGTON|5977|
|       NORRISTOWN|5890|
|     UPPER MERION|5227|
|       CHELTENHAM|4575|
|        POTTSTOWN|4146|
|   UPPER MORELAND|3434|
| LOWER PROVIDENCE|3225|
|         PLYMOUTH|3158|
|          HORSHAM|3003|
|       MONTGOMERY|2698|
|     UPPER DUBLIN|2638|
|       WHITEMARSH|2526|
| UPPER PROVIDENCE|2313|
|         LIMERICK|2272|
|      SPRINGFIELD|2202|
|         WHITPAIN|2135|
|    EAST NORRITON|2038|
|         LANSDALE|1743|
|HATFIELD TOWNSHIP|1732|
+-----------------+----+
only showing top 20 rows

In [14]:
sql_results.show()

+-----------------+----+
|               c1|  c2|
+-----------------+----+
|     LOWER MERION|8443|
|         ABINGTON|5977|
|       NORRISTOWN|5890|
|     UPPER MERION|5227|
|       CHELTENHAM|4575|
|        POTTSTOWN|4146|
|   UPPER MORELAND|3434|
| LOWER PROVIDENCE|3225|
|         PLYMOUTH|3158|
|          HORSHAM|3003|
|       MONTGOMERY|2698|
|     UPPER DUBLIN|2638|
|       WHITEMARSH|2526|
| UPPER PROVIDENCE|2313|
|         LIMERICK|2272|
|      SPRINGFIELD|2202|
|         WHITPAIN|2135|
|    EAST NORRITON|2038|
|         LANSDALE|1743|
|HATFIELD TOWNSHIP|1732|
+-----------------+----+
only showing top 20 rows

In [15]:
sql_results.coalesce(1).write.format('csv').save("C:/Users/Sri/Desktop/911_project/DATASET/results", header='true')

group by category

In [16]:
sql_results = spark.sql("select Category as category,count(*) as c2 from data_911 group by  Category order by c2 desc")
sql_results.show()

+--------+-----+
|category|   c2|
+--------+-----+
|     EMS|48877|
| Traffic|35695|
|    Fire|14920|
+--------+-----+

In [17]:
sql_results.coalesce(1).write.format('csv').save("C:/Users/Sri/Desktop/911_project/DATASET/results1", header='true')

In [18]:
sql_results = spark.sql("select month(timeStamp) as c1,count(*) as c2,Category as c3 from data_911 group by month(timeStamp),Category order by c2 desc")
sql_results.show()

+---+----+-------+
| c1|  c2|     c3|
+---+----+-------+
|  1|6063|    EMS|
|  7|6029|    EMS|
|  3|5832|    EMS|
|  5|5734|    EMS|
|  6|5720|    EMS|
|  4|5680|    EMS|
|  2|5413|    EMS|
|  1|5237|Traffic|
|  8|4508|    EMS|
|  6|4270|Traffic|
|  7|4207|Traffic|
|  2|4185|Traffic|
|  5|4116|Traffic|
|  4|3929|Traffic|
| 12|3898|    EMS|
|  3|3679|Traffic|
|  8|3097|Traffic|
| 12|2975|Traffic|
|  1|1905|   Fire|
|  7|1901|   Fire|
+---+----+-------+
only showing top 20 rows

In [19]:
sql_results.coalesce(1).write.format('csv').save("C:/Users/Sri/Desktop/911_project/DATASET/results2", header='true')

select Title,month(Timestamp) as c1,count(*) as c2 from data_911 group by month(Timestamp), Title order by c2 desc;

In [20]:
sql_results = spark.sql("select Title,month(timeStamp) as month,Category,count(*) as calls from data_911 group by month(timeStamp), Title,Category order by calls desc")
sql_results.show()

+--------------------+-----+--------+-----+
|               Title|month|Category|calls|
+--------------------+-----+--------+-----+
|  VEHICLE ACCIDENT -|    1| Traffic| 2926|
|  VEHICLE ACCIDENT -|    5| Traffic| 2852|
|  VEHICLE ACCIDENT -|    6| Traffic| 2828|
|  VEHICLE ACCIDENT -|    7| Traffic| 2650|
|  VEHICLE ACCIDENT -|    4| Traffic| 2574|
|  VEHICLE ACCIDENT -|    2| Traffic| 2522|
|  VEHICLE ACCIDENT -|    3| Traffic| 2482|
|  VEHICLE ACCIDENT -|   12| Traffic| 2177|
|  VEHICLE ACCIDENT -|    8| Traffic| 2055|
|  DISABLED VEHICLE -|    1| Traffic| 1742|
|  DISABLED VEHICLE -|    2| Traffic|  881|
|  DISABLED VEHICLE -|    7| Traffic|  855|
|  DISABLED VEHICLE -|    5| Traffic|  816|
|  DISABLED VEHICLE -|    6| Traffic|  800|
|  DISABLED VEHICLE -|    3| Traffic|  730|
|  DISABLED VEHICLE -|    4| Traffic|  716|
|          FIRE ALARM|    7|    Fire|  705|
| RESPIRATORY EMER...|    1|     EMS|  688|
| RESPIRATORY EMER...|    3|     EMS|  672|
|         FALL VICTIM|    1|     EMS|  669|
+--------------------+-----+--------+-----+
only showing top 20 rows

In [21]:
sql_results.coalesce(1).write.format('csv').save("C:/Users/Sri/Desktop/911_project/DATASET/results3", header='true')

select Title,day(Timestamp) as c1, count(*) as c2 from data_911 group by day(Timestamp),Title order by c2 desc;

In [22]:
sql_results = spark.sql("select Title,day(Timestamp) as day,Category, count(*) as calls from data_911 group by day(Timestamp),Title,Category order by calls desc")
sql_results.show()

+-------------------+---+--------+-----+
|              Title|day|Category|calls|
+-------------------+---+--------+-----+
| VEHICLE ACCIDENT -| 12| Traffic|  932|
| VEHICLE ACCIDENT -| 15| Traffic|  918|
| VEHICLE ACCIDENT -| 23| Traffic|  894|
| VEHICLE ACCIDENT -| 22| Traffic|  864|
| VEHICLE ACCIDENT -| 17| Traffic|  854|
| VEHICLE ACCIDENT -| 13| Traffic|  841|
| VEHICLE ACCIDENT -| 18| Traffic|  839|
| VEHICLE ACCIDENT -| 11| Traffic|  833|
| VEHICLE ACCIDENT -| 16| Traffic|  826|
| VEHICLE ACCIDENT -| 14| Traffic|  814|
| VEHICLE ACCIDENT -| 21| Traffic|  781|
| VEHICLE ACCIDENT -| 19| Traffic|  772|
| VEHICLE ACCIDENT -| 26| Traffic|  758|
| VEHICLE ACCIDENT -| 28| Traffic|  756|
| VEHICLE ACCIDENT -| 20| Traffic|  750|
| VEHICLE ACCIDENT -|  6| Traffic|  749|
| VEHICLE ACCIDENT -| 29| Traffic|  746|
| VEHICLE ACCIDENT -|  2| Traffic|  733|
| VEHICLE ACCIDENT -|  4| Traffic|  721|
| DISABLED VEHICLE -| 23| Traffic|  713|
+-------------------+---+--------+-----+
only showing top 20 rows

In [23]:
sql_results.coalesce(1).write.format('csv').save("C:/Users/Sri/Desktop/911_project/DATASET/results4", header='true')

In [24]:
sql_results = spark.sql("select hour(Timestamp) as hour, count(*) as calls from data_911 group by hour(Timestamp) order by hour")
sql_results.show()

+----+-----+
|hour|calls|
+----+-----+
|   0| 2112|
|   1| 1721|
|   2| 1549|
|   3| 1435|
|   4| 1418|
|   5| 1629|
|   6| 2513|
|   7| 3970|
|   8| 5044|
|   9| 5314|
|  10| 5413|
|  11| 5543|
|  12| 6029|
|  13| 5967|
|  14| 5997|
|  15| 6154|
|  16| 6490|
|  17| 6517|
|  18| 5762|
|  19| 4908|
+----+-----+
only showing top 20 rows

In [25]:
sql_results.coalesce(1).write.format('csv').save("C:/Users/Sri/Desktop/911_project/DATASET/results5", header='true')

In [26]:
sql_results = spark.sql("select hour(Timestamp) as hour,Category, count(*) as calls from data_911 group by hour(Timestamp),Category order by hour")
sql_results.show()

+----+--------+-----+
|hour|Category|calls|
+----+--------+-----+
|   0|    Fire|  319|
|   0|     EMS| 1249|
|   0| Traffic|  544|
|   1| Traffic|  405|
|   1|    Fire|  243|
|   1|     EMS| 1073|
|   2| Traffic|  323|
|   2|    Fire|  204|
|   2|     EMS| 1022|
|   3|     EMS|  963|
|   3| Traffic|  266|
|   3|    Fire|  206|
|   4|     EMS|  944|
|   4|    Fire|  199|
|   4| Traffic|  275|
|   5| Traffic|  412|
|   5|    Fire|  256|
|   5|     EMS|  961|
|   6|     EMS| 1340|
|   6| Traffic|  841|
+----+--------+-----+
only showing top 20 rows

In [27]:
sql_results.coalesce(1).write.format('csv').save("C:/Users/Sri/Desktop/911_project/DATASET/results6", header='true')

In [28]:
sql_results = spark.sql("select day(Timestamp) as day, month(Timestamp) as month ,Category, count(*) as Calls  from data_911 group by day(Timestamp),month(Timestamp),Category order by Calls desc")
sql_results.show()

+---+-----+--------+-----+
|day|month|Category|Calls|
+---+-----+--------+-----+
| 23|    1| Traffic|  557|
| 12|    1| Traffic|  324|
| 24|    2| Traffic|  309|
|  3|    4| Traffic|  281|
| 25|    1| Traffic|  277|
| 23|   12| Traffic|  277|
| 24|    1| Traffic|  251|
| 24|    1|     EMS|  250|
| 22|    1| Traffic|  247|
| 26|    1| Traffic|  244|
| 15|    1|     EMS|  239|
| 15|    2| Traffic|  239|
|  2|    2|     EMS|  232|
|  1|    4|     EMS|  231|
| 16|    2| Traffic|  230|
| 10|    2|     EMS|  228|
| 21|    6|     EMS|  228|
| 27|    5|     EMS|  226|
| 21|   12|     EMS|  225|
| 19|    1|     EMS|  224|
+---+-----+--------+-----+
only showing top 20 rows

In [29]:
sql_results.coalesce(1).write.format('csv').save("C:/Users/Sri/Desktop/911_project/DATASET/results7", header='true')

This qury is pending for top  cities for ems incidents

sql_results = spark.sql("select twp as c1,Category as category,count(*) as c2 from data_911 group by c1,category order by c2 desc LIMIT 5")
sql_results.show()